<form method="post" action="/memos">
  <div class="form-items">
    <label>
    <input type="text" name="title">
    </label>
  </div>
  <div class="form-items">
    <label>
      <textarea name="body"></textarea>
    </label>
  </div>
  <input type="submit" value="保存">
</form>
